@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

/*.noto-sans-thai-body {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" <width>;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

}

header {
    background: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

nav a {
    color: #fff;
    text-decoration: none; /* ลบเส้น link ออก */
    font-weight: 2rem;
}

.logo a {
    font-size: 24px;
}

.header-info {
    width: 800px;
    margin-top: 8rem;
}

.header-info h3 {
    font-size: 3rem;
    font-weight: 5rem;
    color: #ffc300;
}

.header-btn {
    margin: 1rem 0 0 0;
}

.header-btn input {
    padding: 0.5rem;
    width: 230px;
    border: none;
    border-radius: 0.3rem;
}

.header-btn button {
    padding: 0.5rem;
    width: 150px;
    background: linear-gradient(to bottom, #00b7ff 37%, #0099cc 100%);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
}

.about {
    text-align: center;
    padding: 3rem;
}

.about-con {
    padding: 0 5rem;
}


.about-title {
    font-weight: lighter;
    font-size: 2rem;
    color: #00b7ff;
    margin: 1.5rem 0 1rem 0;
}

.about-desc {
    font-weight: lighter;
    font-size: 1rem;
    color: #808080;
}

.about-img {
    margin-top: 3rem;
}


.pricing {
    background-color: #00b7ff;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

.pricing-con {
    margin-top: 2rem;
}

.pricing-info {
    text-align: center;
}

.pricing-info h3 {
    font-weight: lighter;
    font-size: 2rem;
}

.pricing-info p {
    margin: 1rem 0;
}

.pricing-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
}

.pricing-box {
    background-color: #fff;
    color: #333;
}

.pricing-box-title {
    background-color: #e4e4e4;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.pricing-box-info {
    padding: 1rem;
}

.price-blue {
    color:#00b7ff;
    font-weight: bold;
    font-size: 4rem;
}

.pricing-box-info p {
    margin: 0.5rem 0;
}

.pricing-more-info {
    display: inline-block;
    background: linear-gradient(to bottom, #14df5b 37%, #00cc66 100%);
    padding: 1rem;
    width: 100%;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.clients {
    padding: 3rem 0;
    text-align: center;
}

.clients-title h3 {
    color:#00b7ff;
    font-weight: lighter;
    font-size: 2rem;
}

.clients-title p {
    margin-top: 1rem;
    color: #808080;
}

.clients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: left;
    margin-top: 2rem;
}

.clients-img {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.clients-img img {
    width: 30%;
    border-radius: 100%;
    margin-right: 1rem;
}

.clients-img p {
    font-weight: bold;
}

.newslatter {
    background: url("https://images.unsplash.com/photo-1592659762303-90081d34b277?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 250px;
}

.newslatter-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color:#fff;
}

.newslatter-title div h3 {
    font-size:  2rem;
    font-weight: lighter;
}

.newslatter-title div p {
    padding: 0.5rem 0;
}

.newslatter-title div input {
    padding: 0.5rem;
    width: 350px;
    border: none;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.newslatter-title div button {
    padding: 0.5rem;
    width: 150px;
    background: linear-gradient(to bottom, #00b7ff 37%, #0099cc 100%);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
}

footer {
    background: linear-gradient(to bottom, #00b7ff 37%, #0099cc 100%);
    height: 3rem;
    padding: 20px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;
    display: flex;
}

.footer-menu ul li a {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-logo {
    font-size: 14px;
}