{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="IT photharam Hospital" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <title>IT Department</title>
    {% endblock %}
    <link
      rel="icon"
      href="{% static 'imgs/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- SweetAlert2.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.4/dist/sweetalert2.min.css"
    />
    <!-- Datatables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/v/bs5/dt-2.3.3/datatables.min.css"
    />
    <!-- Custom Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">หน้าหลัก</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">ครุภัณฑ์คอมพิวเตอร์</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">ทะเบียนซ่อม</a></li>
          <li class="nav-item">
            <a href="#" class="nav-link">ทะเบียนวัสดุรับ</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">แจ้งซ่อม</a></li>
        </ul>
      </header>
    </div>
    <!-- Carousel slide -->
    <div class="container">
      <div id="carouselExampleCaptions" class="carousel slide mb-4">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{% static 'imgs/itptrh01.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'imgs/itptrh02.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'imgs/itptrh03.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'imgs/itptrh04.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Four slide label 4</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- End Carousel slide -->
    <div class="container">
      <div class="row">
        <div class="text-center col-sm-6">
          <a class="btn btn-danger btn-lg" href="displaykru.php" role="button"
            >Computers</a
          >
          <p></p>
          <p>
            <span><a href="displaykru.php">ครุภัณฑ์สารสนเทศ</a></span>
            <span><a href="displaywass.php">&nbsp;&nbsp;วัสดุสารสนเทศ</a></span>
            <span><a href="repair_frm.php">&nbsp;&nbsp;ทะเบียนซ่อม</a></span>
            <span
              ><a href="brw_crud_frm.php">&nbsp;&nbsp;บันทึกยืม-คืน</a></span
            >
            <span><a href="hiscom_frm.php">&nbsp;&nbsp;สมุดรายวัน</a></span>
            <!-- span><a href="show_regis_ip.php">&nbsp;&nbsp;ทะเบียน-ip</a></span -->
          </p>
        </div>
        <div class="text-center col-sm-6">
          <a
            class="btn btn-success btn-lg"
            href="rpt_ink_out_was.php"
            role="button"
            >Documentation</a
          >
          <p></p>
          <p>
            <span
              ><a href="rpt_repair.php" target="_blank"
                >พิมพ์ใบส่งซ่อมอุปกรณ์คอมพิวเตอร์</a
              >
              |
            </span>
            <span
              ><a href="rpt_quick_out_was.php" target="_blank"
                >พิมพ์ใบจ่ายพัสดุ</a
              >
              | </span
            ><span
              ><a href="rpt_ink_out_was.php" target="_blank">พิมพ์ใบจ่ายหมึก</a>
              | </span
            ><span><a href="Label_qrcode.php"> ทดสอบQRCode</a></span>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
            aria-label="Bootstrap"
          >
            <svg class="bi" width="30" height="24" aria-hidden="true">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary"
            >© 2025 Company, Inc</span
          >
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Instagram"
              ><svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#instagram"></use></svg
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Facebook"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook"></use></svg
            ></a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
<!-- jquery -->
<script
  type="text/javascript"
  src="{% static 'jquery-3.7.1.min.js' %}"
></script>
<!-- SweetAlert2.js -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.4/dist/sweetalert2.all.min.js"
></script>
<!-- Datatables -->
<script
  type="text/javascript"
  src="https://cdn.datatables.net/v/bs5/dt-2.3.3/datatables.min.js"
></script>

<!-- function -->
<script type="text/javascript">
  $(document).ready(function () {
    $("table").DataTable();
  });
</script>
